<article class={{chatListItem}}>

    {{{avatar}}}

    <div class={{chatListItem__content}}>
        <span class={{content__span}}>
            {{chatName}}
        </span>
        <div class={{content__lastMsg}}>
            {{lastMsg}}
        </div>
    </div>
    <div class={{content__msgInfo}}>
        <span class={{msgInfo__time}}>
            {{lastMsgTime}}
        </span>

        {{{msgCountBtn}}}

    </div>
</article>
<div class={{sidebar__line}}></div>