<article class={{form}}>
    {{{avatar}}}
    <section class={{form__item}}>
        <section class={{form__inputs}}>
            {{{inputs}}}
        </section>
    </section>
    {{{btnsGroup}}}
</article>