<article class={{container}}>
    <aside class={{aside}}>
        {{{anchor}}}
    </aside>
    <section class={{form}}>
        {{{avatar}}}
        <section class={{form__item}}>
            <section class={{form__inputs}}>
                {{{inputs}}}
            </section>
        </section>
        {{{btnsGroup}}}
    </section>
</article>