<article class={{chat}}>
    <aside class={{chat__sidebar}}>

        <nav class={{sidebar__nav}}>
            <div class={{nav__anchorToProfile}}>
                {{{anchorToProfile}}}
                <div class={{anchorToProfile__icon}}>

                </div>
            </div>
        </nav>

        <div class={{sidebar__chatSearch}}>
            {{{chatSearch}}}
        </div>

        <div class={{sidebar__line}}></div>

        <div class={{sidebar__chatList}}>
            {{{chatList}}}
        </div>

    </aside>
    <main class={{chat__content}}>
        <span class={{content__selectChatMsg}}>
            Выберите чат чтобы отправить сообщение
        </span>
</article>