<article class={{container}}>
    <aside class={{aside}}>
        {{{anchor}}}
    </aside>
    <section class={{form}}>
        {{{avatar}}}
        <span class={{form__span}}>Иван</span>
        <section class={{form__item}}>
            <section class={{form__inputs}}>
                {{{inputs}}}
            </section>
        </section>
        <section class={{form__item}}>
            <section class={{form__item__btns}}>
                {{{btnsGroup}}}
            </section>
        </section>
    </section>
</article>