<article class={{notFound}}>
    <section class={{notFound__section}}>
        <label class={{notFound__heder}}>{{h1Msg}}</label>
        <span class={{notFound__span}}>{{spanMsg}}</span>
    </section>
    {{{anchor}}}
</article>