<article class={{container}}>
    <section class={{form}}>
        <span class={{form__span}}>Вход</span>
        <section class={{form__inputs}}>
            {{{inputs}}}
        </section>
        {{{btnsGroup}}}
    </section>
</article>