<article class={{form}}>
    <span class={{form__span}}>Регистрация</span>
    <section class={{form__inputs}}>

        <div class={{inputs__item}}>
            <label id="email-label" for="email" class={{item__label}} onchange="showLabel">Почта</label>
            <input type="email" name="email" id="email" class={{item__input}} placeholder="Почта">
        </div>

        <div class={{inputs__item}}>
            <label id="login-label" for="login" class={{item__label}} onchange="showLabel">Логин</label>
            <input type="text" name="login" id="login" class={{item__input}} placeholder="Логин">
        </div>

        <div class={{inputs__item}}>
            <label id="userName-label" for="userName" class={{item__label}} onchange="showLabel">Имя</label>
            <input type="text" name="userName" id="userName" class={{item__input}} placeholder="Имя">
        </div>

        <div class={{inputs__item}}>
            <label id="surname-label" for="surname" class={{item__label}} onchange="showLabel">Фамилия</label>
            <input type="text" name="surname" id="surname" class={{item__input}} placeholder="Фамилия">
        </div>

        <div class={{inputs__item}}>
            <label id="userTel-label" for="userTel" class={{item__label}} onchange="showLabel">Телефон</label>
            <input type="tel" name="userTel" id="userTel" class={{item__input}} placeholder="Телефон">
        </div>

        <div class={{inputs__item}}>
            <label id="password-label" for="password" class={{item__label}}>Пароль</label>
            <input type="password" name="password" id="password" class={{item__input}} placeholder="Пароль"
                onchange={{showLabel}}>
        </div>

        <div class={{inputs__item}}>
            <label id="passwordAgain-label" for="passwordAgain" class={{item__label}}>Пароль еще раз</label>
            <input type="password" name="passwordAgain" id="passwordAgain" class={{item__input}}
                placeholder="Пароль еще раз" onchange={{showLabel}}>
        </div>


    </section>

    <section class={{form__btns}}>
        <button class={{btns__btn}}>Зарегистрироваться</button>
        <a href="/sign-in" class={{btns__anchor}}>Войти</a>
    </section>
</article>