<article class={{container}}>
    <section class={{form}}>
        <span class={{form__span}}>Регистрация</span>
        <section class={{form__inputs}}>
            {{{inputs}}}
        </section>
        {{{btnsGroup}}}
    </section>
</article>